In [1]:
import pandas as pd
import numpy as np

In [23]:
col_name = ['Name','Sex']

In [24]:
df_male = pd.read_csv('male.txt',names=col_name)
df_female = pd.read_csv('female.txt',names=col_name)

In [33]:
df_female = df_female.fillna('Female')

In [34]:
df_male=df_male.fillna('Male')

In [35]:
frames=[df_male,df_female]
df=pd.concat(frames)

In [42]:
df.head()

       Name   Sex
0     Aamir  Male
1     Aaron  Male
2     Abbey  Male
3     Abbie  Male
4     Abbot  Male

In [43]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7944 entries, 0 to 5000
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Name    7944 non-null   object
 1   Sex     7944 non-null   object
dtypes: object(2)
memory usage: 186.2+ KB

In [44]:
df.isna().sum()

Name    0
Sex     0
dtype: int64

In [47]:
df['Sex'].replace({'Female':0,'Male':1},inplace=True)

In [50]:
X=df['Name']
y=df['Sex']

In [52]:
from sklearn.feature_extraction.text import CountVectorizer
cv=CountVectorizer()
X= cv.fit_transform(X)

In [53]:
from sklearn.model_selection import train_test_split

In [54]:
X_train,X_test,y_train,y_test = train_test_split(X,y,shuffle=True,train_size=0.7)

In [55]:
from sklearn.naive_bayes import MultinomialNB
nb = MultinomialNB()
nb.fit(X_train,y_train)
nb.score(X_test,y_test)

0.6065436241610739

In [60]:
def genderpredictor(name):
    test_name =[name]
    vec = cv.transform(test_name).toarray()
    if nb.predict(vec) ==0:
        print('Female')
    else:
        print('Male')

In [61]:
genderpredictor('Jane')

Female

In [65]:
genderpredictor('david')

Male